@font-face {
    font-family: 'passionOne';
    src: url('pacote-d012/fonts/PassionOne-Regular.ttf')
    format('truetype');
}
@font-face {
    font-family: 'passionBOLD';
    src: url('pacote-d012/fonts/PassionOne-Bold.ttf') 
    format('truetype');
}
@font-face {
    font-family: 'passionBlack';
    src: url('pacote-d012/fonts/PassionOne-Black.ttf')
    format('truetype');
}

@font-face {
    font-family: 'Sriracha';
    src: url('pacote-d012/fonts/Sriracha-Regular.ttf')
    format('truetype');
}
:root {
    
    --font-padrao: Arial, verdana, sans-serif;
    --font-titulo: 'passionOne', sans-serif;
    --font-texto: 'Sriracha'
}

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--font-padrao);
    background-color: darkgray;
    font-size: 1em;
}


header {
    background-color: black;
    color: white;
    text-align: center;
}
header > h1 {
    font-family: var(--font-titulo);
    font-weight: normal;
    font-size: 10vw;
    padding-top: 50px;
}

header > p {
    font-family: var(--font-padrao);
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 50px;
}
header > p > a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
header > p > a:hover {
    text-decoration: underline;
}

section{
    font-family: var(--font-texto);
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 2.6vw;
    
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgba(51,51,51);
    color: white;
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.397);
    background-size: cover;
    background-attachment: fixed;
}
section > p {
    padding-bottom: 2em;
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.429);
    text-shadow: 2px 2px 1px black;
    color: white;
    
}

section#img01 {
    background-image: url('pacote-d012/imagens/background001.jpg');
    background-position: right center;
}

section#img02 {
    background-image: url('pacote-d012/imagens/background002.jpg');
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}
